@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@600&family=Source+Sans+3:wght@500;600&display=swap');

@media print {
    .oculto{
        display:none;
    }
    .btn-print, .btn-relatorio{
        display: none;
    }
    .descricao{
        display:block;
    }
    .termos{
        display:block;
    }
}
*{
    font-family: Montserrat;
}

/*
body{display: flex;
    overflow-y: hidden;
    margin: 0;
}
.doc{
    height: 900px;
    overflow-y: auto;
}
*/

input, button{
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=textarea] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.formu{
    margin: 0px 0px 15px 0px;
    padding: 20px;
    background-color: #dae7f3;
    border-radius: 10px;
}

#esconder{
    display: block;
}

h1{
    font-family: Poppins;
    font-size:larger;
    line-height: 23px;
}
h3, li{

    font-size:smaller;
}

li{
    line-height:23px;
}

/*Definições do Cabeçalho*/
main{
    padding: 20px 50px 20px 60px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 50px 45px 35px 67px;
    background-color:#073a67 ;
    color:white;
    letter-spacing: 5px;
    line-height:23px ;
    text-transform: uppercase;

}

.main-logo{
    width: 200px;
    height: auto;
    object-fit:contain;
}

/*Definições da Tabela*/
caption{
    text-align: left;
    height: 30px;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
table{
    width: 100%;
}
th{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 11px;
}

td{
    font-family:'Source Sans 3';
    font-size: 12px;
    font-weight: 600;
}

.td-desc{
    width: 60%;
}
.td-n{
    width:3%;
}
.td-quant{
    width: 7%;
}


td, th {
	padding: 3px;
	height: 25px;
}

tfoot td, table{
    text-align: right;
    border: none;
    
}

.valorfinal{
    font-size: 20px;
}

/*
.even {
	background: #f0f1fb;
}
.odd {
	background: #ffffff;
}
*/